body {
    height: 100vh;
    font-family: "Montserrat", sans-serif;   
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero, #tree, .links,
#tree .buttons .button a {
    display: flex;
    justify-content: center;
    align-items: center;
}
