
:root {
    --cor-primaria: #151718;
    --cor-secundaria: #ef686b;
    --cor-secundaria-transparente: #ef686b30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(200deg, var(--cor-secundaria), var(--cor-primaria), var(--cor-primaria));
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.apresentacao, .arvore {
    width: 100%;
    height: 50%;
    border: 1px solid yellow;
}